*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-size: 13px;
}

:root {
--Very-Dark-Grayish-Blue: hsl(217, 19%, 35%);
--Desaturated-Dark-Blue: hsl(214, 17%, 51%);
--Grayish-Blue: hsl(212, 23%, 69%);
--Light-Grayish-Blue: hsl(210, 46%, 95%);
}

body {
  background-color: hsl(225, 31%, 90%);;
}

.card {
  display: grid;
  grid-template-columns: 40% 60%;
  grid-template-rows: 70% 30%;
  width: 800px;
  height: 300px;
  margin: 25vh auto;
  border-radius: 10px;
  background-color: #fff;
}

.main-img {
  grid-column: 1;
  grid-row: 1 / 3;
  width: 100%;
  height: 100%;
  border-radius: 10px 0 0 10px;
}

.main-info {
  display: flex;
  flex-direction: column;
  padding: 30px 60px;
}

h2 {
  display: block;
  font-family: 'Manrope', sans-serif;
  font-weight: 700;
  font-size: 1.5rem;
  margin-top: 10px;
  color: var(--Very-Dark-Grayish-Blue);
}

.main-info p {
  font-family: 'Manrope', sans-serif;
  font-weight: 500;
  font-size: .9rem;
  letter-spacing: .4px;
  line-height: 1.8;
  margin-top: 10px;
  color: var(--Desaturated-Dark-Blue);
}

.card-footer{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  padding: 0 20px;
  margin-top: -10px;
}

.profile-img {
  grid-column: 1 / 2;
  grid-row: 1 / 3;
  border-radius: 50%;
  width: 30%;
  margin-top: 25px;
  margin-left: 40px;
}

.profile-info-h4 {
  grid-column: 2 / 3;
  grid-row: 1 / 2;
  font-family: 'Manrope', sans-serif;
  font-weight: 700;
  font-size: 0.9rem;
  color: var(--Very-Dark-Grayish-Blue);
  align-self: end;
  margin-left: -50px;
}

.profile-info-p {
  grid-column: 2 / 3;
  grid-row: 2 / 3;
  font-family: 'Manrope', sans-serif;
  font-size: 0.85rem;
  color: var(--Desaturated-Dark-Blue);
  align-self: start;
  margin-left: -50px;
}

.share-button {
  grid-column: 3 / 4;
  grid-row: 2 / 3;
  border: none;
  border-radius: 50%;
  margin-left: 70px;
  margin-right: 40px;
  margin-bottom: 35px;
  margin-top: -25px;
  font-size: 1.2rem;
  color: var(--Very-Dark-Grayish-Blue);
  background: hsl(225, 31%, 90%);
}

.share-button:hover {
  color: var(--Light-Grayish-Blue);
  background: var(--Very-Dark-Grayish-Blue);
}

.share-button:active {
  color: hsl(225, 31%, 90%);
  background: slategray;
}

.share-options {
  margin-left: 620px;
  margin-right: 40px;
  margin-bottom: 35px;
  margin-top: -130px;
  width: 205px;
  height: 42px;
  background-color: var(--Very-Dark-Grayish-Blue);
  display: flex;
  justify-content: center;
  border-radius: 10px;
  position: relative;
  visibility: hidden;
}

.share-options:before{
  content: "";
  width: 0;
  height: 0;
  font-size: 0;
  overflow: hidden;
  display: block;
  border-width: 10px;
  border-color: var(--Very-Dark-Grayish-Blue) transparent transparent transparent;
  border-style: solid dashed dashed dashed;
  position: absolute;
  top: 42px;
  left: 45%;
}

.share-elements {
  align-self: center;
}

.share-elements p {
  display: inline;
  color: var(--Grayish-Blue);
  font-family: 'Manrope', sans-serif;
  font-size: 1rem;
  letter-spacing: 2px;
  padding: 0 5px;
}

.share-elements i {
  color: var(--Light-Grayish-Blue);
  padding-left: 4px;
  font-size: 1.2rem;
}

.share-button2 {
  display: none;
}

#facebook:hover, #twitter:hover, #pinterest:hover {
  color: var(--Grayish-Blue);
}


#facebook:active, #twitter:active, #pinterest:active {
  color: #222;
}

.attribution { 
  font-size: 1rem;
  font-family: 'Manrope', sans-serif;
  text-align: center;
  margin: -100px auto;
  text-decoration: none;
}

.attribution a { 
  color: #c919e6;
  text-decoration: none;
}

.attribution a:hover {
    color: #790f8a;
    font-weight: 700;
}


@media screen and (max-width: 800px){
  .card {
    grid-template-columns: 100%;
    grid-template-rows: 30% 50% 20%;
    width: 400px;
    height: 550px;
    margin: 15vh auto;
  }

  .main-img {
    grid-row: 1 / 2;
    width: 400px;
    height: 200px;
    border-radius: 10px 10px 0 0;
  }

  .main-info {
    grid-row: 2 / 3;
    padding: 60px 45px;
  }

  h2 {
    font-size: 1.5rem;
    margin-top: 10px;
  }

  .main-info p {
    font-size: 1.13rem;
    letter-spacing: 0.5px;
    line-height: 1.5;
    margin-top: 15px;
  }

  .card-footer{
    padding: 0 20px;
  }

  .profile-img {
    border-radius: 50%;
    width: 50%;
    margin-top: 25px;
    margin-left: 25px;
  }

  .profile-info-h4 {
    font-size: 0.8rem;
    margin-left: -21px;
  }

  .profile-info-p {
    font-size: 0.7rem;
    margin-left: -21px;
  }

  .share-button {
    margin-left: 55px;
    margin-right: 20px;
    margin-bottom: 30px;
    margin-top: -20px;
  }

  .share-options {
    top: 40px;
    left: -620px;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 90px;
    justify-content: center;
    border-radius: 0 0 10px 10px;
  }

  .share-options:before{
    display: none;
  }

  .share-elements p {
    display: inline;
    color: var(--Grayish-Blue);
    font-family: 'Manrope', sans-serif;
    font-size: 1rem;
    letter-spacing: 2px;
    padding: 0 5px;
    margin-left: 10px;
    margin-right: 5px;
  }

  #facebook, #twitter, #pinterest {
    color: var(--Light-Grayish-Blue);
    padding-left: 15px;
    font-size: 1.7rem;
  }

  .share-button2 {
    display: inline;
    border: none;
    border-radius: 50%;
    padding: 10px;
    background: var(--Grayish-Blue);
    margin-left: 90px;
    margin-right: 15px;
    font-size: 1.2rem;
  }

  .share-button2:hover {
    background: #b0c4de;
  }

  .share-button2:active {
    color: hsl(225, 31%, 90%);
    background: var(--Grayish-Blue);
  }

}